<ul class="sponsors alpha">
  <li class="covert"><a href="http://www.covertbuickgmc.com/"><img src="/images/sponsors/covert.jpg" alt="Covert"></a></li>
</ul>
<ul class="sponsors beta">
  <li class="carlson"><a href="https://www.carlsonattorneys.com/"><img src="/images/sponsors/carlson.jpg" alt="Stewart Law Firm"></a></li>
  <li class="stewart"><a href="http://www.thestewartlawfirm.net/"><img src="/images/sponsors/stewart.jpg" alt="Carlson Law Firm"></a></li>
</ul>
<ul class="sponsors gamma">
  <li class="heb_toc"><a href="http://www.hebtoc.com/"><img src="/images/sponsors/heb_toc.jpg" alt="HEB Tournament of Champions"></a></li>
</ul>
<ul class="sponsors delta">
  <li class="uber"><a href="https://www.uber.com/"><img src="/images/sponsors/uber.jpg" alt="Wells Fargo"></a></li>
  <li class="wf"><a href="https://www.wellsfargo.com/"><img src="/images/sponsors/wf.jpeg" alt="Austin Diagnostic Clinic (ADC)"></a></li>
  <li class="adc"><a href="https://www.adclinic.com/"><img src="/images/sponsors/adc.png" alt="Uber"></a></li>
</ul>